
.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

PlushyPals/PlushyPals.xcodeproj/xcuserdata/llsaphire1029.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/xcuserdata/llsaphire1029.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/project.pbxproj

CollisionTest/CollisionTest.xcodeproj/xcuserdata/yc15rice.xcuserdatad/xcschemes/xcschememanagement.plist

CollisionTest/CollisionTest.xcodeproj/yc15rice.mode1v3

CollisionTest/CollisionTest.xcodeproj/yc15rice.pbxuser

CollisionTest/build/CollisionTest.build/CollisionTest.pbxindex/categories.pbxbtree

*.pbxbtree

CollisionTest/build/CollisionTest.build/CollisionTest.pbxindex/pbxindex.header

CollisionTest/build/CollisionTest.build/CollisionTest.pbxindex/strings.pbxstrings/control

CollisionTest/build/CollisionTest.build/CollisionTest.pbxindex/strings.pbxstrings/strings

CollisionTest/build/CollisionTest.build/CollisionTest.pbxindex/symbols0.pbxsymbols

CollisionTest/CollisionTest.xcodeproj/project.pbxproj

*.mode1v3
