
.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

PlushyPals/PlushyPals.xcodeproj/xcuserdata/llsaphire1029.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/xcuserdata/llsaphire1029.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/xcuserdata/yc15rice.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/yc15rice.mode1v3

GestureDemo/GestureDemo.xcodeproj/yc15rice.pbxuser

GestureDemo/GestureDemo.xcodeproj/project.pbxproj

