
.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

PlushyPals/PlushyPals.xcodeproj/xcuserdata/llsaphire1029.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/xcuserdata/llsaphire1029.xcuserdatad/xcschemes/xcschememanagement.plist

GestureDemo/GestureDemo.xcodeproj/project.pbxproj

GestureDemo/GestureDemo.xcodeproj/xcuserdata/yc15rice.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

GestureDemo/GestureDemo.xcodeproj/xcuserdata/yc15rice.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
