<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bridge</key>
	<dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>15</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>230</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>bananas</key>
	<dict>
		<key>17-2</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>-412</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>x</key>
			<integer>189</integer>
			<key>y</key>
			<integer>-388</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>-412</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>x</key>
			<integer>141</integer>
			<key>y</key>
			<integer>-380</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>-364</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>-404</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>-444</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>-484</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>-524</integer>
			<key>r</key>
			<integer>90</integer>
		</dict>
		<key>8-1</key>
		<dict>
			<key>x</key>
			<integer>844</integer>
			<key>y</key>
			<integer>195</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<integer>868</integer>
			<key>y</key>
			<integer>219</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<integer>836</integer>
			<key>y</key>
			<integer>291</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<integer>868</integer>
			<key>y</key>
			<integer>267</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<integer>892</integer>
			<key>y</key>
			<integer>243</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<integer>852</integer>
			<key>y</key>
			<integer>243</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<integer>812</integer>
			<key>y</key>
			<integer>243</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<integer>772</integer>
			<key>y</key>
			<integer>243</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<integer>732</integer>
			<key>y</key>
			<integer>243</integer>
			<key>r</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>cactus bombs</key>
	<dict>
		<key>1</key>
		<dict>
			<key>b1</key>
			<dict>
				<key>x</key>
				<integer>995</integer>
				<key>y</key>
				<integer>255</integer>
				<key>r</key>
				<integer>270</integer>
			</dict>
			<key>b0</key>
			<dict>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>-50</integer>
				<key>r</key>
				<integer>90</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
