<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cactus bomb 1</key>
	<dict>
		<key>rotation</key>
		<string>0</string>
		<key>y</key>
		<integer>157</integer>
		<key>x</key>
		<integer>271</integer>
	</dict>
</dict>
</plist>
