<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bridge</key>
	<dict>
		<key>5</key>
		<dict>
			<key>loadx</key>
			<integer>321</integer>
			<key>loady</key>
			<integer>-185</integer>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>-422</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>loadx</key>
			<integer>158</integer>
			<key>loady</key>
			<integer>817</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>302</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>loadx</key>
			<integer>297</integer>
			<key>loady</key>
			<integer>650</integer>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>-30</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>loadx</key>
			<string>100</string>
			<key>loady</key>
			<string>745</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>329</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>loadx</key>
			<integer>100</integer>
			<key>loady</key>
			<integer>440</integer>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>230</integer>
			<key>r</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>cactus bombs</key>
	<dict>
		<key>1</key>
		<dict>
			<key>b1</key>
			<dict>
				<key>x</key>
				<integer>995</integer>
				<key>y</key>
				<integer>255</integer>
				<key>r</key>
				<integer>270</integer>
			</dict>
			<key>b0</key>
			<dict>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>-50</integer>
				<key>r</key>
				<integer>90</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
