<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor/grassbehind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{480,67}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>floor/grassfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{480,35}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{480,35}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>hud/banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>monkey/arms_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,406},{50,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{50,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,188},{48,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{48,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,240},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/idle/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,188},{50,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/jump/left.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,458},{48,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{48,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/jump/right.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,108},{46,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/push/left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,246},{54,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/push/left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,188},{56,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/push/right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,108},{56,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/push/right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,348},{56,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/walk/left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,461},{48,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{48,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/walk/left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,461},{48,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{48,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/walk/right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,326},{46,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{46,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey/walk/right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,108},{46,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{46,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>numbers/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,318},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,37},{25,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{25,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,238},{29,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{29,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,444},{29,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,428},{31,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,348},{27,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,428},{31,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{31,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,402},{29,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,360},{29,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>numbers/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,360},{29,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>objects/backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,250},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{80,96}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>objects/banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,377},{82,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{82,58}}</string>
                <key>sourceSize</key>
                <string>{92,64}</string>
            </dict>
            <key>objects/bananabunch.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,108},{78,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{78,55}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>objects/canteen.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,108},{44,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,66}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>objects/hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{110,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{110,65}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>objects/pineapple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{51,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{51,126}}</string>
                <key>sourceSize</key>
                <string>{61,134}</string>
            </dict>
            <key>objects/statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{93,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,140}}</string>
                <key>sourceSize</key>
                <string>{105,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jungle.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbd65300f2dcb8d00549c79cc7e2d9b9$</string>
            <key>textureFileName</key>
            <string>jungle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
