<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Monkey collision 1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 200}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{130, 200}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 2630}, {130, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey collision 2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 200}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{130, 200}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 2630}, {130, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey collision 3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 200}}</string>
			<key>spriteOffset</key>
			<string>{-13, -0}</string>
			<key>spriteSize</key>
			<string>{108, 200}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{529, 2630}, {108, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey die 01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 138}</string>
			<key>spriteSourceSize</key>
			<string>{200, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2832}, {200, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey die 02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 138}</string>
			<key>spriteSourceSize</key>
			<string>{200, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{639, 2630}, {200, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey die 03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 129}</string>
			<key>spriteSourceSize</key>
			<string>{200, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 2832}, {200, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey die 04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 129}</string>
			<key>spriteSourceSize</key>
			<string>{200, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 2963}, {200, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey jump 1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {128, 194}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{128, 194}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 2832}, {128, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey jump 2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {128, 194}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{128, 194}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{771, 2966}, {128, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey jump 3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {128, 194}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{128, 194}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 3094}, {128, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey jump 4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {128, 194}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{128, 194}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{771, 2770}, {128, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey run 1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 200}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{131, 200}</string>
			<key>spriteSourceSize</key>
			<string>{135, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2630}, {131, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey run 2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 196}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{130, 196}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{639, 2770}, {130, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey run 3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 200}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{130, 200}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 2630}, {130, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Monkey run 4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 196}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{130, 196}</string>
			<key>spriteSourceSize</key>
			<string>{134, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2972}, {130, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>banana bomb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 121}</string>
			<key>spriteSourceSize</key>
			<string>{120, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{841, 2630}, {120, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>banana bunch.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 62}</string>
			<key>spriteSourceSize</key>
			<string>{90, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 2832}, {90, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>banana single.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 56}</string>
			<key>spriteSourceSize</key>
			<string>{90, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 2896}, {90, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map level 1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1500, 1502}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1500, 1502}</string>
			<key>spriteSourceSize</key>
			<string>{1500, 1502}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2002, 0}, {1500, 1502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map level 2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1484, 1502}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1484, 1502}</string>
			<key>spriteSourceSize</key>
			<string>{1484, 1502}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2002, 1504}, {1484, 1502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map level 3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2000, 1251}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2000, 1251}</string>
			<key>spriteSourceSize</key>
			<string>{2000, 1251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1377}, {2000, 1251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map level 4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2000, 1375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2000, 1375}</string>
			<key>spriteSourceSize</key>
			<string>{2000, 1375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2000, 1375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>plashypals</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>plushypals</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>plushypals</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>